.projects__screen {
  width: 100%;
  min-height: 100vh;
  padding: 130px 60px 80px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.projects__elements {
  width: 80%;
  display: flex;
  flex-direction: column;

  gap: 50px;
}

@media (max-width: 1365px) {
  .projects__screen {
    align-items: center;
  }
}

@media (max-width: 900px) {
  .projects__elements {
    width: 100%;
  }
}

@media (max-width: 700px) {
  .projects__screen {
    padding: 270px 30px 80px;
  }
}

@media (max-width: 500px) {
  .projects__screen {
    padding: 270px 30px 80px;
  }
}
