.nav {
  position: fixed;
  top: 0;
  padding: 16px 40px 10px;
  width: 100%;
  height: auto;
  z-index: 100;
  background-color: rgb(240, 248, 255, 0);
}

.nav__contents {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__logo {
  cursor: pointer;
}

.nav__logo > h1 {
  color: #ff8400;
  font-size: 50px;
}

.nav__list {
  display: flex;
}

.nav__list > ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 50px;
}

.nav__list > ul > li > a {
  font-weight: 600;
  font-size: 19px;
  color: #ffd93d;
  cursor: pointer;
  border-bottom: 3px solid transparent;
  padding-bottom: 2px;
  transition: all 200ms ease;
}

.nav__list ul li:hover {
  transform: scale(1.1);
}

.active__navlink {
  border-bottom-color: #fff !important;
  transition: all 200ms ease;
}

.showButton {
  display: none;
}

.mobileNav__list {
  display: none;
}

@media (max-width: 1365px) {
  .nav__list > ul {
    gap: 30px;
  }
}

@media (max-width: 1197px) {
  .nav {
    padding: 30px 40px 10px;
  }

  .nav__contents {
    align-items: flex-start;
  }

  .nav__list > ul {
    flex-direction: column;
  }

  .nav__list > ul > li > a {
    font-weight: 300;
  }

  .active__navlink {
    background-color: #ffd93d;
    padding: 10px 20px;

    color: #494545 !important;
    border-bottom-color: transparent !important;
    position: relative;
  }

  .active__navlink > span {
    position: absolute;
    top: 26%;
    right: 6px;

    border: 2px solid #fff;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
}

@media (max-width: 800px) {
  .nav__logo > h1 {
    font-size: 40px;
  }
}

@media (max-width: 500px) {
  .nav {
    padding: 16px 20px 10px;
  }

  .nav__logo > h1 {
    font-size: 30px;
    line-height: 1.1;
  }

  .nav__list {
    display: none;
  }

  .mobileNav__list {
    display: flex;
  }

  .mobileNav__list > ul {
    list-style: none;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    gap: 0;
  }

  .mobileNav__list > ul > li {
    margin-top: 20px;
  }

  .mobileNav__list > ul > li > a {
    font-size: 19px;
    color: #494545;
    cursor: pointer;
    border-bottom: 3px solid transparent;
    padding-bottom: 2px;
    transition: all 200ms ease;
  }

  .mobileNav__list ul li:hover {
    transform: scale(1.1);
  }

  .showButton {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    background-color: transparent;
    color: #494545;
    align-self: center;
  }

  .hideButton {
    display: flex;
    align-items: flex-end;

    font-size: 25px;
    background-color: transparent;
    color: #494545;
    width: 100%;
  }

  .active__navlink {
    background-color: #ff8400;
    color: #fff !important;
  }
}
